<div>
    <h2 id="page-heading">
        <span>Tenders</span>
        <button id="jh-search-entity" class="btn btn-primary float-center jh-search-entity search-tender" [routerLink]="['/tender/consult']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Search Tender
            </span>
        </button>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tender" [routerLink]="['/tender/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Tender
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tenders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tenderRefNumber"><span>Tender Ref Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tenderRefName"><span>Tender Ref Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tenderPEName"><span>Tender PE Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tenderPECode"><span>Tender PE Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tenderType"><span>Tender Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tenderMethod"><span>Tender Method</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tenderOnOff"><span>Tender On Off</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tenderPublicDate"><span>Tender Public Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tenderReceiveDate"><span>Tender Receive Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tenderDeadLineDate"><span>Tender Dead Line Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tenderOpenDate"><span>Tender Open Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tender of tenders ;trackBy: trackId">
                <td><a [routerLink]="['/tender', tender.id, 'view' ]">{{tender.id}}</a></td>
                <td>{{tender.tenderRefNumber}}</td>
                <td>{{tender.tenderRefName}}</td>
                <td>{{tender.tenderPEName}}</td>
                <td>{{tender.tenderPECode}}</td>
                <td>{{tender.tenderType}}</td>
                <td>{{tender.tenderMethod}}</td>
                <td>{{tender.tenderOnOff}}</td>
                <td>{{tender.tenderPublicDate | date:'mediumDate'}}</td>
                <td>{{tender.tenderReceiveDate | date:'mediumDate'}}</td>
                <td>{{tender.tenderDeadLineDate | date:'mediumDate'}}</td>
                <td>{{tender.tenderOpenDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tender', tender.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tender', tender.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'tender', { outlets: { popup: tender.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="tenders && tenders.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
