<div>
    <h2 id="page-heading">
        <span>Policies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-policy"
                [routerLink]="['/policy/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
            Create new Policy
            </span>
        </button>
    </h2>
    <div class="alert alert-danger" role="alert" align="center" *ngIf="error">
        <strong>{{message}}</strong>
    </div>
    <div *ngIf="!error">
        <jhi-alert></jhi-alert>
    </div>

    <br/>
    <div class="table-responsive" *ngIf="policies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span>ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="policyNumber"><span>Policy Number</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="policyType"><span>Policy Type</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="policyAmount"><span>Policy Amount</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="policyAmountChar"><span>Policy Amount Char</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="policyAmountCurrancy"><span>Policy Amount Currancy</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="primeAmount"><span>Prime Amount</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="policyOperationDate"><span>Policy Operation Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="policyStartDate"><span>Policy Start Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="policyExpirationDate"><span>Policy Expiration Date</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="policyStatus"><span>Policy Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="policyComment"><span>Policy Comment</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="lotOnPolicyId"><span>Lot On Policy</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="clientId"><span>Client</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th jhiSortBy="userExtraId"><span>User Extra</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let policy of policies ;trackBy: trackId">
                <td><a [routerLink]="['/policy', policy.id, 'view' ]">{{policy.id}}</a></td>
                <td>{{policy.policyNumber}}</td>
                <td>{{policy.policyType}}</td>
                <td>{{policy.policyAmount | number}}</td>
                <td>{{policy.policyAmountChar}}</td>
                <td>{{policy.policyAmountCurrancy}}</td>
                <td>{{policy.primeAmount | number}}</td>
                <td>{{policy.policyOperationDate | date:'mediumDate'}}</td>
                <td>{{policy.policyStartDate | date:'mediumDate'}}</td>
                <td>{{policy.policyExpirationDate | date:'mediumDate'}}</td>
                <td>{{policy.policyStatus}}</td>
                <td>{{policy.policyComment}}</td>
                <td>
                    <div *ngIf="policy.lotOnPolicyId">
                        <a [routerLink]="['../lot', policy.lotOnPolicyId , 'view' ]">{{policy.lotOnPolicyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="policy.clientId">
                        <a [routerLink]="['../client', policy.clientId , 'view' ]">{{policy.clientId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="policy.userExtraId">
                        <a [routerLink]="['../user-extra', policy.userExtraId , 'view' ]">{{policy.userExtraId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button class="btn btn-success btn-sm" (click)="send(policy.id,policy.policyType)">
                            <fa-icon [icon]="'paper-plane'"></fa-icon>
                            <span class="d-none d-md-inline">Send</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/policy', policy.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/policy', policy.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'policy', { outlets: { popup: policy.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="policies && policies.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
