<div>
    <h2 id="page-heading">
        <span>Lots</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lot" [routerLink]="['/lot/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Lot
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="lots">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lotName"><span>Lot Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lotNumber"><span>Lot Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lotDesc"><span>Lot Desc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lotAmount"><span>Lot Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lotCurrancy"><span>Lot Currancy</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lotRefNumber"><span>Lot Ref Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lot of lots ;trackBy: trackId">
                <td><a [routerLink]="['/lot', lot.id, 'view' ]">{{lot.id}}</a></td>
                <td>{{lot.lotName}}</td>
                <td>{{lot.lotNumber}}</td>
                <td>{{lot.lotDesc}}</td>
                <td>{{lot.lotAmount}}</td>
                <td>{{lot.lotCurrancy}}</td>
                <td>{{lot.lotRefNumber}}</td>
                <td>
                    <div *ngIf="lot.tenderId">
                        <a [routerLink]="['../tender', lot.tenderId , 'view' ]" >{{lot.tenderId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="lot.contractId">
                        <a [routerLink]="['../contract', lot.contractId , 'view' ]" >{{lot.contractId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/lot', lot.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lot', lot.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'lot', { outlets: { popup: lot.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="lots && lots.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
